<div>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <h1>Регистрация</h1>

    <div>
      <label>Email</label>
      <input type="text" placeholder="Email" formControlName="email">

      <div
        *ngIf="form.get('email').invalid && form.get('email').touched"
      >
        <small *ngIf="form.get('email').errors.required">
          Поле email не может быть пустым
        </small>

        <small *ngIf="form.get('email').errors.email">
          Введите корректный email
        </small>

        <small *ngIf="form.get('email').errors.restrictedEmail">
          Email {{form.get('email').value}} запрещен
        </small>

        <small *ngIf="form.get('email').errors.uniqEmail">
          Email {{form.get('email').value}} занят
        </small>
      </div>
    </div>

    <div>
      <label>Пароль</label>
      <input type="password" placeholder="Пароль" formControlName="password">

      <div
        *ngIf="form.get('password').invalid && form.get('password').touched"
      >
        <small *ngIf="form.get('password').errors.required">
          Пароль не может быть пустым
        </small>

        <small *ngIf="form.get('password').errors.minlength">
          Длинна должна быть не менее {{form.get('password').errors.minlength.requiredLength}}.
          Сейчас количество символов {{form.get('password').errors.minlength.actualLength}}
        </small>
      </div>
    </div>

    <button type="submit" [disabled]="form.invalid || form.pending">Отправить</button>
  </form>
</div>
